<a href="https://colab.research.google.com/github/Khan-solo/Support_Vector_Regression/blob/main/Support_Vector_Regressoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Importing the dataset
dataset = pd.read_csv("/content/drive/MyDrive/Machine learning/Support Vector Regression/Position_Salaries.csv")
np.set_printoptions(precision= 2)
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [6]:
#Getting Matrix of features and dependent variable
X = np.array(dataset.iloc[:, 1])
y = np.array(dataset.iloc[:, -1])

[  45000   50000   60000   80000  110000  150000  200000  300000  500000
 1000000]